<!DOCTYPE html>
  <html lang="en">  
    <head>  
      <meta charset="UTF-8">  
      <title>Index</title>  
   {% load static %}  
     <link rel="stylesheet" href="{% static 'css/information.css' %}"/>
      {% comment %} <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
      />   {% endcomment %}
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
       
      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
    </head>  
    <body> 
     
      <div class="row">
      
        <div class="col-4" style="background-color:gray">
         
     
         
         <img src="{% static 'css/m610oemimg.jpeg' %}"  style="width:100%;height:500px"></img>  
        

        
<span><center>
The Wolke m610 OEM printer is exclusively used for the coding of various Intended use
materials (products, packaging materials, etc.). 
The customer has to ensure that the appropriate inks are used.
Use of any other inks is considered as an improper use. 
Wolke by Videojet, will not be responsible for any damage resulting from
such improper use.
<br/>
Proper usage also include the following:<br/>
• Compliance with all the instructions given in the user manual.
• Compliance with the specified maintenance works.
• Compliance with all the safety instructions.
• Regular inspection of the device for damage on connectors, cables, 
the keyboard, the display and the housing.
• Inspection of the printhead on a regular basis for good condition and foreign 
matter (ink, water etc.)
</center>
</span>
        </div>
        <div class="col-4"><span>
          <br/>
          <h2>TRACK & TRACE</h2>
          This Application Is Mainly Using For Printing And Sanning Datamatrix.It Will Generate Grades Based On The Quality Of Datamatrix We Printed. Everything Are Based On Permission In This Application.Every Permissions Will Decide By The Administrator. In The Dashboard We Can See 9 Icons.In That Printer Jobs And Scanner Jobs Are Entirely Related With The Hardware.<br/>

          Follow The User Manual Steps And Instructions Carefully Before Using This Application.<br/><br/>
          <center><h5>THANK YOU </h5></center>


          <br/>
          <center> <a href="{%url 'dashboard2' %}" class="btn btn-info" style= "color:black;" >Back To Dashboard</a></center>
          
          
</span></div>
        <div class="col-4" style="background-color:gray">
          
          {% comment %} <img src="{% static 'css/omronscanner.jpeg' %}"  style="width:100%;height:500px"></img>  {% endcomment %}
          F440-F Smart Cameras are designed for reliable vision performance in identification and inspection 
          applications. The compact size and wide variety of optics and illumination options available provide the 
          best performance for virtually any machine vision application.
          The F440-F allows automation engineers to implement inspection, symbol decoding, OCR, and more, 
          in a single compact solution. The small form factor allows flexible positioning in tight spaces.
          AutoVISION software, designed for use with the F440-F, provides an intuitive interface, step-by-step 
          configuration, and a library of presets that allow easy setup and deployment. For more complex vision 
          applications, the system can be upgraded from AutoVISION to Visionscape.
          <br/>
        <span>
          Features and Benefits
          <br/>
          • Simple Configuration with AutoVISION
          • 5 Megapixel Sensor
          • Smallest Camera in Class
          • IP40 Enclosure
          • Power over Ethernet
          • Ethernet TCP/IP
          • EtherNet/IP
          • PROFINET
          • Single Locking RJ45 Connector and Cable
          • Ring Light and Bracket Kit Options Available
</span>
        </div>
      </div> 
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
     


  
</body>

</html>    