{%block body_block%}

<head>  
  <meta charset="UTF-8">  
    <title>Index</title>  
      {% load static %} 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                  {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  {% endcomment %}
                  <link rel="stylesheet" href="{% static 'css/trackandtrace2.css' %}">   
                   {% comment %} <link
                  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
                  crossorigin="anonymous"
                  />   {% endcomment %}
                  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
       
      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
              {% comment %} <script type="text/javascript"> 
                      window.history.forward(); 
                      function noBack() { 
                          window.history.forward();
                          style="pointer-events: none;";"cursor: default"

                      } 
    
            </script> {% endcomment %}

            
  

</head> 
<body style="background: linear-gradient(90deg, rgba(11,11,11,1) 21%, rgba(17,39,48,1) 51%, rgba(0,0,0,1) 100%);">
  <nav class="navbar  border-bottom border-body" style="background: linear-gradient(90deg, rgba(11,11,11,1) 21%, rgba(17,39,48,1) 51%, rgba(0,0,0,1) 100%);;" data-bs-theme="white" >
    <div class="container" id="current">
      <h2 class="title">
        <span class="title-word title-word-1">TRACK</span>
        <span class="title-word title-word-2">AND</span>
        <span class="title-word title-word-3">TRACE</span>
        
      </h2>
      {% comment %} <font face="times new roman" size="5" style="color:white"> Welcome {{name}}</font> {% endcomment %}
      <font face="times new roman" size="5" style="color:#87AFC7" class='flipY'>  Welcome {{name}}</font>
    
      <a href="{%url 'dashboard2' %}" class="btn btn-info" style= "color:black;" >Back To DashBoard</a>   
    </div>
    </div>                                  
    </nav>
    <script type="text/javascript"
  src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

   <script>

    $.ajax({
     
      url:"{%url 'common-ajax' id %}",
      
      success: function(data) {
          $('#commonid').html(data);
      }
  });
</script>   







</div>
</form>

</div> 

<div class="row">
<div class="col-3"></div>
<div class="col-6">
  <div id="commonid">

  </div>
</div>
<div class="col-3"></div>
</div>
    <center>
      {% if headname == 2%}
      <img src="{% static 'css/warning.gif' %}"  style=";height:50px;">&nbsp;&nbsp;&nbsp;<font   face="times new roman" size="4" style="color:white">   After Send To  Server This Report Only Visible In Server</font></img>     
      {% endif %} 
      </center>  
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
              <symbol id="check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </symbol>
              <symbol id="info-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              </symbol>
              <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            
            {% if mess == 500 %} 
        <div class="alert alert-danger d-flex align" role="alert" style="width:100%;">
          <svg class="bi flex-shrink-0 me-0" role="img" p-"5" aria-label="Success:" style="height:30px; width:10%" >  <use xlink:href="#check-circle-fill"/></svg>
        No Reports Available In This Batch Number.
            
        </div>
        {% endif %}  
    </div>
        </div>
        <div class="col-3"></div>
      </div>
    <div>
     <center> <font class="animate-charcter"  face="times new roman" size="2"> CURRENT PRODUCTION REPORT</font></center>
     <br/>
      <div class="row">
     
        <div class="col-5">
        </div> 
        <div class="col-3" >
     
                          
        <form action="{%url 'productionreport'  %}" method="get" class="d-flex"  >   
 
        <input class="form-control me-2" type="text" name="lot" placeholder="Enter Batch Number" aria-label="Search" >
        <button class="btn btn-success" type="submit">Details</button></div> 
   
       
        </div> 
        </form>
   
        <div class="col-4">
        </div> 
                         
        </div>
      </div>

     


      <div class="container text-center">
        <div class="row row-cols-3">
          <div class="col"><div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
            <div class="card-header"  >
          <b><font size="4"><center style="color:green" >Batch Number</center></font></b>
              <h5 class="card-title">{{qs.lot }}</h5>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
              <div class="card-header" >
                <b><font size="4"><center style="color:green">Process Order Number</center></font></b>
                <h5 class="card-title">{{qs.processordernumber }}</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
              <div class="card-header" >
                <b><font size="4"><center style="color:green">GTIN</center></font></b>
                <h5 class="card-title">{{qs.gtin }}</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
              <div class="card-header" >
                <b><font size="4"><center style="color:green">Expiration Date</center></font></b>
                <h5 class="card-title">{{qs.expiration_date }}</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
              <div class="card-header" >
                <b><font size="4"><center style="color:green">Updated Date</center></font></b>
                <h5 class="card-title">{{qs.current_production_date }}</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text- mb-3" style="width:50%;color:white;background: linear-gradient(90deg, rgba(4,38,42,1) 3%, rgba(0,0,0,1) 90%, rgba(2,42,50,1) 100%)";>
              <div class="card-header" >
                <b><font size="4"><center style="color:green">Updated Time</center></font></b>
                <h5 class="card-title">{{qs.current_production_time }}</h5>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<br/><br/>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <table   class="table table-dark table-striped  table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" style="height:200px;">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <tr>
                    <th style="color:orange;" scope="col">Accepted</th>
                    <td>{{acceptedcount}}</td> 
                </tr>
  
                <tr>
                  <th style="color:orange;" scope="col">Rejected</th>
                  <td>{{rejectedcount}}</td>           
                </tr>
                <tr>
                {% comment %} <tr>
                   <th style="color:orange;" scope="col">Rejected By Camera</th>
                   <td>5866</td>         
                </tr> {% endcomment %}
                <tr> 
                  <th style="color:orange;"scope="col">Sample</th>
                  <td>{{samplecount}}</td>    
                </tr>
                <tr>
                  <th style="color:orange;" scope="col">Challenged</th>
                  <td>{{challengedcount}}</td>           
                </tr>
                <tr>
                   <th style="color:orange;" scope="col">Specimen</th>
                   <td>{{specimencount}}</td>
                </tr>
                <tr>
                  <th style="color:orange;" scope="col">Damaged</th>
                    <td>{{damagedcount}}</td>
                </tr>
                <tr>
                    <th style="color:orange;" scope="col">Others</th>
                      <td>{{otherscount}}</td>
                </tr>
              
          
            
           
          </table>
        </div>
        <div class="col-4">
          <canvas id="myChart" style="width:100%;max-width:600px;min-width:0;"></canvas>

          <script>
          const xValues = ["Challenged", "Damaged", "Others", "Specimen", "Sample","Accepted","Rejected"];
          const yValues = [{{challengedcount}},{{damagedcount}},{{otherscount}}, {{specimencount}},{{samplecount}},{{acceptedcount}},{{rejectedcount}}];
          const barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145",
            "#648c11",
            "#c80815"
          ];
          
          new Chart("myChart", {
            type: "pie",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              title: {
                display: true,
                text: "Production Report"
              }
            }
          });
          </script>
        </div>
        <div class="col-2"></div>
      </div>

       
         
     




  
  
  </body>


  {% endblock %}