
{%block body_block%}

<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %} 
     {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  {% endcomment %}
      <link rel="stylesheet" href="{% static 'css/trackandtrace2.css' %}">   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />  
    <script type="text/javascript"> 
      window.history.forward(); 
      function noBack() { 
          window.history.forward();
          style="pointer-events: none;";"cursor: default"

      } 
      
  </script>
 
  </head> 
  
  <nav class="navbar  border-bottom border-body" style="background:#3F000F" data-bs-theme="white" >
    
    
   <div class="container">
    <h2 class="title">
      <span class="title-word title-word-1">TRACK</span>
      <span class="title-word title-word-2">AND</span>
      <span class="title-word title-word-3">TRACE</span>
      
    </h2>
    {% comment %} <font face="times new roman" size="5" style="color:white"> Welcome {{name}}</font> {% endcomment %}
    <font face="times new roman" size="5" style="color:#D5D6EA" class='flipY'>  Welcome {{name}}</font>

    <form action="{%url 'historysearch'  %}" method="get" class="d-flex"  >   
      <div class="col-8">
        <input class="form-control me-2" type="text" name="query" placeholder="Enter Lot Number" aria-label="Search" >
      </div>&nbsp;&nbsp;&nbsp;
      <div class="col-4">
        <button class="btn btn-success" type="submit">Search</button></div> 
      </div>
    </form>
  </div>
</div>
     
 
     
      
     
    
   
    </div>
   
   
  </nav>
  <br/>

  <div class="row">
    <div class="col-2"> 
      
    </div>
    <div class="col-8"> 
      &nbsp; &nbsp;<a href="{%url 'dashboard' %}" class="btn" style= "color:black;background:#87AFC7" >Back To DashBoard</a>    
    </div>
    <div class="col-2">
      {% if search == 1 %}
      <a href="{%url 'history' %}" class="btn btn-info" style= "color:black;" >Back To History List</a>   
    
        
      {% endif %} 
     
     
    </div>



    <div class="col-1">      
    </div>
  </div>
  <center> <font class="animate-charcter"  face="times new roman" size="2">HISTORY</font></center>
  <br/>
  {% if nu == 1 %}
  <center> <font  face="times new roman" size="4">No History Available </font></center>
  {% endif %}
  <div class="row" >

    <div class="col-2"> 

    </div> 
    <div class="col-8"> 
      <div class="container-fluid">
         <div class="row" > 
        <div class="table-responsive text-nowrap">      
      <table   class="table table-#915791 table-striped  table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" style="height:600px;background:#3F000F">
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <thead >
            <tr>
              <tr>
               
                  <th style="color:red;width:120px" >id</th>
                
                  <th style="color:red;width:160px" >User</th>
                  <th style="color:red;width:160px">Role</th>
                  <th style="color:red;width:260px" >Date&Time</th>
      
                  <th style="color:red;" >
                    Description</th>
               
                 
              </tr>
            </tr>
          </thead>
          
          {% for job in page_obj %}
          <tbody >
          
            <tr style="color:white;">
              <td style="color:white;">{{job.id}}</td>
              <td style="color:white;">{{job.donebyuser}}</td>
              <td style="color:white;">{{job.donebyuserrole}}</td>
              <td style="color:white;">{{job.donedatetime}}</td>
              <td style="color:white;">{{job.description}}</td>
        
           
            </tr>
              {% endfor %}   
          </tbody>
        </table>
       </div>   
      </div> 
      </div> 

    </div> 
    <div class="col-2"> 

    </div> 

  </div>
 

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <center>
      <nav aria-label="Page navigation example">
        <ul class="pagination" >
          {% if page_obj.has_previous %} 
          <li class="page-item"><a class="page-link" style="color:red;" href="{%url 'history' %}?page={{page_obj.previous_page_number}}">Previous Page</a></li> 
           {% endif %}
          <li class="page-item"><a class="page-link" style="color:red;" href="#">{{page_obj.number}}</a></li>
          {% if page_obj.has_next %} 
         <li class="page-item"><a class="page-link" style="color:red;" href="{%url 'history' %}?page={{page_obj.next_page_number}}">Next Page</a></li>
         {% endif %}
        </ul>
      </nav>
    </center>
  </div>
</div>


{% endblock %}