<!DOCTYPE html>
  <html lang="en">  
    <head>  
      <meta charset="UTF-8">  
      <title>Index</title>  
      {% load static %} 
      <link rel="stylesheet" href="{% static 'css/trackandtrace2.css' %}"/>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
      /> 
    
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    </head>  
    <body style="background-color:black"> 
                    <br/>
    
                  
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div> 
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div> 
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
                    
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        
        <div class="col-4">&nbsp;</div>
      </div>
      <div class="row">
      
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">&nbsp;</div>
      </div>

  
      <div class="row">
      
        <div class="col-4"></div>
        <div class="col-4"  style="color:white" >
        {% comment %} <div class="col-5" id="informationpage" style="color:white" > {% endcomment %}
        
          
           
                  <center>  <h3 id="head1"><font face="times new roman" class='pop-outin' size="6">SCHNELL PACK SYSTEMS</font></h3></center>
                  <center>  <h5 id="head2" class='flipY'>VERSION 1.0 </h5></center><br/>
                  <center> <a href="{%url 'dashboard' %}" class="btn btn-info" style= "color:black;" >Back To Dashboard</a></center>
             
            
          </div>
        </div>
        <div class="col-4"></div>
      </div>
      </div>

      <br/>
    
    </div>

    <div class="row">
      <div class="col-4">  
      </div>
      {% comment %} <div class="col-3">
        
        
       
      </div> {% endcomment %}
      <div class="col-4">   
       
      </div>
      <div class="col-4"></div>
    </div>
  
<script src="https://kit.fontawesome.com/4ad3a78962.js" crossorigin="anonymous"></script> 
</body>

</html>    