
<!DOCTYPE html>
  <html lang="en">  
    <head>  
      <meta charset="UTF-8">  
        <title>Index</title>  
        {% load static %} 
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
        /> 
     
        
        <script>
          function displayStartText() {
            var text = document.getElementById("startField");
            text.style.display = "block";

         
          }
  
          function displayPauseText() {
            var text = document.getElementById("pausetextField");
            text.style.display = "block";
          }
          function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); },10000);
          }
          
         </script>  
         
       
        
          
    </head>   
    <body style="background-color:#bebebe" > 
      <br></br><br></br>
         
      

 {% comment %} <div id="dataid">
  
  </div>       {% endcomment %}
  
  <div class="row">
              
    <div class="col-12">
      <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg> 
     
  </div>
</div>
      <div class="container">
        <script type="text/javascript"
      src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script>
        
        $.ajax({
         
          url:"{%url 'datafromscanner' qs.id%}",
          
          success: function(data) {
              $('#dataid').html(data);
          }
      });
  </script>


 <div id="dataid">
  
  </div>  
        <form method="POST" class="post-form" action="{{qs.id}}"> 
          {% csrf_token %}
         
          
            <div class="container text-center" style="border: 4px solid rgb(51, 74, 72); background-color:#d3d3d3">
              <div class="row">
                <div classname="col-12">
                  <h1 ><font face="times new roman" ><center>Printing Details</center></font></h1>
                </div>
              </div>
              <div class="row">
                
              </div>
          
              <div class="row">
                <div class="col-8">
                  {% if prer < 10 %}
                    <div class="alert alert-warning" role="alert">
                      Ink Level Of Printer Is Low
                    </div> 
                  {% endif %} 
                  {% if warningmess == "cartridge_nearing_expiration (7)"  %}
                    <div class="alert alert-primary"  role="alert" style="width:100%;" >
                      Cartridge Of Printer Will Expire Soon 
                    </div> 
                  {% endif %} 
                </div>
                <div class="col-4" >
                  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                  </svg>
                  <div id="startField" class="btn btn-" style="display: none; background-color:#F0E68C">
                    Please Wait......Request For Start The  Process Have Been Executing....
                  </div>
                  <div id="pausetextField" class="btn" style="display: none; background-color:#FFDAB9">
                    Please Wait.....Request For Pause The Process Have Been Executing.....              </div>
                 
                  
                   {% comment %} <h4>SerialNumber Count:{{ sc }}</h4>    {% endcomment %}
                 
                </div> 
              </div>
              <br/>
              <div class="row">
                <br></br>
                <div class="col-3">  
                  <h5>Lot</h5>
                  <br></br>
                  <h5 >SerialNumbers</h5>  
                  <br></br>
                  <h5>Expiry Date</h5> 
                  <br></br>
                </div>
                <div class="col-3">
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="eid" id="id_eid" required maxlength="50" value="{{ qs.lot }}"/> 
                  <br></br>
                  <input type="text" readOnly="true" style="width:80%;height:50px"  name="ename" id="id_ename" required maxlength="100" value="{{ qs.numbers }}" />
                  <br></br>
                  <input type="text" readOnly="true"  style="width:80%;height:50px" name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.expiration_date}}" /> 
                  <br></br>
                </div>
            
                <div class="col-3">
                  <h5 >Gtin</h5> 
                  <br></br>
                  <h5 >ProcessorderNumber</h5>   
                  <br></br>
                  <h5 >Type</h5>
                  <br></br>
                </div>
                <div class="col-3">
                  <input  type="text" readOnly="true" style="width:80%;height:50px"  name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.gtin}}" />  
                  <br></br>
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="eemail" id="id_eemail" required maxlength="254" value="{{ po }}" /> 
                  <br></br>
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.type }}" />   
                  <br></br> 
   
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  {% if   pd == 2 or pd == 3 or alert == 4 or pd == 5 or alert == 0 or pd == -1 %}
                  <a href="{%url 'emp-editjob' qs.id%}" class="btn btn-danger" style= "color:white;" >Navigate To Stop</a>
                  {% endif %} 
                </div>
                <br></br> 
                {% if qs.preparebuttonresponse == 1 %}
                <div class="col-4">
                  {% if pd == 5  %}
                    <button type="submit"  disabled="true" class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit"  disabled="true"  class="btn btn-warning">Pause</button>  
                  {% elif  pd == 1 %}
                    <button type="submit"  disabled="true" class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" onclick="displayPauseText()" class="btn btn-warning">Pause</button> 
                  
                  {% elif qs.loadpause == 0 or pd == 2 %}
                    <button type="submit"  onclick="displayStartText()"  class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit"   disabled="true" class="btn btn-warning">Pause</button> 

                  {% elif  pd == 2 %}
                    <button type="submit"  onclick="displayStartText()"  class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit"   disabled="true" class="btn btn-warning">Pause</button> 
                  {% elif  qs.loadpause == 1 %}
                    <button type="submit" disabled="true" onclick="displayStartText()"  class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" onclick="displayPauseText()" class="btn btn-warning">Pause</button> 

                  {% elif pd == 4  %}
                    <button type="submit"  onclick="displayStartText()" class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit"  onclick="displayPauseText()"   class="btn btn-warning">Pause</button>  
                
                 
                  
                  {% elif alert == 4  %}
                      <button type="submit"  disabled="true" class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp;
                      <button type="submit"  disabled="true"  class="btn btn-warning">Pause</button>     
                  {% else %}

                      <button type="submit" onclick="displayStartText()"   class="btn btn-success" id="refresh_button">Start</button>&nbsp;&nbsp;&nbsp; 
                      
                  {% endif %}
                
                 
                
                </div>
                  {% else %}
                <div class="col-4">
                  <div class="alert alert-danger d-flex align-items-center" role="alert" style="width:100%;">
                    <img src="{% static 'css/error.gif' %}"  style="width:15%;height:50px;">&nbsp;&nbsp;  Job Needed To Restart.Because of The Communcation Error Between The Hardwares.</img>  
                  </div>
                </div>
                  {% endif %} 
                <div class="col-4">
                  <a href="{%url 'dashboard' %}"  class="btn btn-info" id="backtolistbtn" style= "color:black;" >Back To Dashboard</a>  
                </div>
              </div>
                

             <br/> 
              <div class="row">
               
                <div class="col-4">
                  {% if scanneralert == 0 %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert" style="width:100%;">
                  
                      Scanner Connection Losted!Process Will Not Work Properly.Please Click The Navigate To Batch Detail Button And Stop The Process,
                      Start Again.
                      
                    </div>
                  {% endif %} 
                </div>
                <div class="col-4">
                  {% if alert == 0 %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert" style="width:100%;">
                    
                      Printer Connection Losted!Please Stop The Batch And Try Again.
                        
                    </div>
                  {% elif alert == 4 %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert" style="width:100%;">
                    
                      Printer Connection Lost In Between The Process.Check The Connection!For Restarting It Again, Stop The Currently Running Process And Start It Again.
                        
                    </div>

                
                  {% endif %} 
                </div>
               
                <div class="col-4">
                 
                  {% if pd == 1 and alert != 0  %} 
                    <div class="alert alert-success d-flex align-items-center" id="snackbar" role="alert" style="width:100%;">
                    
                      {% comment %} <svg class="bi flex-shrink-0 me-0" role="img" p-"5" aria-label="Success:" style="height:30px; width:10%" >  <use xlink:href="#check-circle-fill"/></svg> {% endcomment %}
                        Printing Started.
                        
                    </div>
                  {% elif pd == 2 and alert != 0 %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert" style="width:100%;">
                      {% comment %} <svg class="bi flex-shrink-0 me-0" role="img" p-"5" aria-label="Success:" style="height:30px; width:10%" >  <use xlink:href="#check-circle-fill"/></svg> {% endcomment %}
                        Printing Paused.
                        
                    </div>
                  {% elif pd == 3 %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert" style="width:100%;">
                      {% comment %} <svg class="bi flex-shrink-0 me-0" role="img" p-"5" aria-label="Success:" style="height:30px; width:10%" >  <use xlink:href="#check-circle-fill"/></svg> {% endcomment %}
                      Pause is  Not Working.
                        
                    </div>

                  {% elif nd == 1 %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert" style="width:100%;">
                      {% comment %} <svg class="bi flex-shrink-0 me-0" role="img" p-"5" aria-label="Success:" style="height:30px; width:10%" >  <use xlink:href="#check-circle-fill"/></svg> {% endcomment %}
                      Server Connection Losted
                        
                    </div>
                  {% endif %} 
                </div>
                
              </div>
              
             
            </div>

         
           <script type="text/javascript"
          src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        
          <script>
        
            $.ajax({
             
              url:"{%url 'serial' qs.id%}",
              
              success: function(data) {
                  $('#lengthid').html(data);
              }
          });
      </script>
      <br/> 

     <div id="lengthid">
      
      </div>  
     

     
     
      
      </div>
        </form>
        
      </div> 
     
    
    </body>  

   
</html>  

{% comment %} var rt={{qs}}
         
if (rt == 0) {
 url = "{%url 'databaseerror' %}";
 
} else {
 url = "{%url 'serial' qs.id%}";
 
}  {% endcomment %}